# Server
NODE_ENV=development
PORT=4000

# PostgreSQL (Prisma)
# Example: postgresql://postgres:postgres@localhost:5432/asdr?schema=public
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/asdr?schema=public

# Auth
# Must be >= 16 chars
JWT_SECRET=change-me-super-secret-please
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Upload
MAX_UPLOAD_MB=200

# Keypoint Extraction API
EXTRACT_API_URL=https://858a-113-160-235-186.ngrok-free.app/extract
BYPASS_EXTRACT_API=true
